/* ---Imported fonts and their fallbacks--- */
/* 
    font-family: Lobster, cursive;
    font-family: Oleo Script Swash Caps, cursive;
    font-family: Roboto, sans-serif;
*/

/* Copyright symbol
        &#169
*/

#contact{
    background-color: #efeeff;
    display: flex;
    flex-direction: column;

    max-width: 100vw;
    min-height: 100vh;
}

.contactSection{
    /* background-color: aqua; */
    margin: auto;

    width: 50vw;
}

.contactDetailsArea{
    background-color: #d7d5ff;
    display: flex;

    width: 50%;
}

.contactDetails{
    /* background-color: chartreuse; */
    margin: auto;
}

.contactDetails p{
    font-size: 1.25rem;
}

.contactPrompt{
    margin: 0;
}

.contactInfo{
    margin: 2.5rem 0;
}

.socialMedia{
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-around;
}

.fa-customize{
    /* color: #fff; */
    font-size: 1.5rem;
    margin: 0;
}

.contactConclusion{
    margin: 2.5rem 0 0;
}

.contactFormArea{
    background-color: bisque;
    display: flex;

    width: 50%;
}

.contactForm{
    background-color: cyan;
}