/* ---Importing fonts from google fonts--- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script+Swash+Caps&family=Roboto&display=swap');

/* ---Imported fonts and their fallbacks--- */
/* 
    font-family: Lobster, cursive;
    font-family: Oleo Script Swash Caps, cursive;
    font-family: Roboto, sans-serif;
*/


/* ---Import home section styling--- */
@import url('home.css');

/* ---Import services section styling--- */
@import url('services.css');

/* ---Import projects section styling--- */
@import url('projects.css');

/* ---Import contact section styling--- */
@import url('contact.css');


/* ---General styling--- */
*{
    font-family: Roboto, sans-serif;
    padding: 0;
    transition: 0.5s ease-in-out;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: initial;
    text-decoration: initial;
}

.sectionTitle{
    font-family: Oleo Script Swash Caps, cursive;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}