@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script+Swash+Caps&family=Roboto&display=swap');

*{
    font-family: Roboto, sans-serif;
    padding: 0;
    transition: 0.5s ease-in-out;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---Home section styling--- */
#home{
    background-color: #d7d5ff;
    display: flex;
    flex-direction: column;

    height: 100vh;
}

/* Navbar styling */
nav{
    font-family: Oleo Script Swash Caps;
    font-size: 1.25rem;
}

.brandArea{
    background-color: black;
    border-radius: 50%;
    display: flex;
    margin-right: 0.625rem;

    width: 3.125rem;
    height: 3.125rem;
}

.logoImg{
    margin: auto;

    width: 2rem;
    height: 2rem;
}

.themeSelector{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    margin-left: 0.75rem;
}

.themeChanger{
    width: 1.75rem;
    height: 1.75rem;
}

/* Home section styling */

.mainIntro{
    margin: auto;
    
    width: 98vw;
}

.slideBg{
    margin: auto;

    width: 41.67vw;
}

.secondCol{
    display: flex;
    flex-direction: column;

    width: 48vw;
    /* height: 64vh; */
}

.innerText{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.salutations{
    font-size: 1.5rem;
    margin: 0;
}

.skill{
    font-size: 2.25rem;
    margin: 0 0 2.5rem;
}

.prompt{
    font-size: 1.125rem;
    text-align: center;margin: 0;
}

.moreIcon{
    margin: 1.5rem auto auto auto;
    transform: rotate(90deg);

    width: 3rem;
    height: 3rem;
}